.formulaire {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    background-color: white;
    border: 2px solid #f3f3f6;
    border-radius: 10px;
}

.form-liste {
    margin-bottom: 10px;
}

.form-liste label {
    display: block;
    margin-bottom: 3px;
    font-weight:700;
}
.form-liste input,
.form-liste textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin:0;
}
.form-liste textarea {
    height: 120px;
}
.formulaire button {
     display: block;
    margin: 10px auto 0;
    padding: 10px 30px;
    background-color:#FF6B2C;
    color: white;
    border: none;
    border-radius: 5px;
}
